:root {
  --main-text-color: #757575;
  --secondary-text-color: #212121;
  --accent-color: #2196f3;
}
.list {
  list-style: none;
}

body {
  font-family: Roboto, sans-serif;
}

.link {
  text-decoration: none;
}

.logo-part-blue {
  color: #2196f3;
}

/* ################### HEADER ################### */
.mail-link,
.tel-link {
  color: #757575;
}

.logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #000000;
}

.menu-link {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
}

.current,
.menu-link:hover,
.menu-link:focus {
  color: #2196f3;
}

/* ################### END HEADER ################### */

/* ################### FOOTER ################### */
.logo-white {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  background-color: #000000;
  color: #ffffff;
}

.address-house {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.address-list-link {
  font-weight: 500;
  background-color: #000000;
  color: #ffffff;
}

.phone,
.e-mail {
  color: rgba(255, 255, 255, 0.6);
}
/* ################### END FOOTER ################### */

/* ################### INDEX HTML ################### */

/* ################### HERO ################### */

.hero {
  background-color: #2f303a;
  color: #ffffff;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.hero-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  background-color: #2196f3;
  color: #ffffff;
}

.hero-button:focus,
.hero-button:hover {
  background-color: #188ce8;
  cursor: pointer;
}

/* ################### END HERO ################### */

/* ################### SPECIFICS ################### */
.specifics-item {
  letter-spacing: 0.03em;
}

.specifics-item-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: #212121;
}

.specifics-item-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: #757575;
}
/* ################### END SPECIFICS ################### */

/* ################### WORK ################### */

.work-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}
/* ################### END WORK ################### */

/* ################### TEAM ################### */
.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.team-item {
  background: #ffffff;
  text-align: center;
  letter-spacing: 0.03em;
  font-size: 16px;
  line-height: 1.19;
}

.team-item-name {
  font-weight: 500;
  color: #212121;
}
.team-item-profession {
  color: #757575;
}
/* ################### END TEAM ################### */

/* **************** END INDEX HTML **************** */

/* **************** PORTFOLIO HTML **************** */
/* ################### FILTERS ################### */
.filters-list-item-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
  background-color: #f5f4fa;
  color: #212121;
}

.filters-list-item-button:focus,
.filters-list-item-button:hover {
  background-color: #2196f3;
  color: #ffffff;
  cursor: pointer;
}
/* ################### END FILTERS ################### */

/* ################### CARDS ################### */
.cards-list-item {
  background-color: #ffffff;
}

.cards-list-item-title {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}

.cards-list-item-type {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: #757575;
}
/* ################### END CARDS ################### */
/* **************** END PORTFOLIO HTML **************** */
